<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>
<body class="back">
    <div class="box login">
        <h1>Logowanie</h1>
        <form method="post">
            <div class="input_field">
                <input class="txt_enter" type="email" placeholder="Email"><br>
                <input class="txt_enter" type="password" placeholder="Hasło"><br>
                <input class="login_button btn" type="submit" value="Zaloguj">
            </div>
            <div class="new">
                <p>Nie masz konta? <a href="#">Zarejestruj się</a></p>
            </div>



        </form>
    </div>
</body>
</html>