<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>
<body>
    <div class="box register">
        <h1>Rejestracja</h1>
        <form method="post">
            <div class="input_field">
                <input class="txt_enter" type="imie" placeholder="Imię"><br>
                <input class="txt_enter" type="email" placeholder="Email"><br>
                <input class="txt_enter" type="password" placeholder="Hasło"><br>
                <input class="txt_enter" type="password" placeholder="Powtórz hasło"><br>
                <input class="register_button btn" type="submit" value="Zarejestruj">
            </div>
            <div class="log">
                <p>Masz już konto? <a href="#">Zaloguj się</a></p>
            </div>



        </form>
    </div>
</body>
</html>